@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #862e9c;
}

.container {
  max-width: 500px;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  padding: 44px 38px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.container h3 {
  font-size: 20px;
  text-align: center;
}

.container .login-option {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.container .login-option .option {
  width: calc(100% / 2 - 12px);
}

.container .login-option .option a {
  height: 56px;
  font-size: 18px;
  font-weight: 500;
  color: black;
  background-color: #f8f8fb;
  text-decoration: none;
  margin: 34px 0 24px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border-radius: 6px;
  border: 1px solid #dadaf2;
  transition: all 0.2s ease;
}

.container .login-option .option a:hover {
  background-color: #f9edfc;
}

.container .login-option .option a img {
  max-width: 25px;
}

.container p {
  text-align: center;
  font-weight: 500;
}

.container .separator {
  margin-bottom: 24px;
  position: relative;
}

.container .separator span {
  background-color: #fff;
  z-index: 1;
  padding: 0 10px;
  position: relative;
}

.container .separator::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background: #c2c2c2;
  top: 50%;
  left: 0;
  display: block;
}

form .input-box label {
  display: block;
  font-weight: 500;
  margin-bottom: 8px;
}

form .input-box input {
  width: 100%;
  height: 58px;
  font-size: 18px;
  border: 1px solid #dadaf2;
  border-radius: 6px;
  padding: 0 20px;
  outline: none;
  margin-bottom: 28px;
  transition: all 0.2s ease;
}

form .input-box input:focus {
  border-color: #9c36b5;
}

.password-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #9c36b5;
}

a:hover {
  text-decoration: underline;
}

.container form button {
  height: 58px;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #9c36b5;
  border: none;
  border-radius: 6px;
  padding: 0 10px;
  cursor: pointer;
  margin-bottom: 28px;
  transition: all 0.2s ease;
}

.container form button:hover {
  background-color: #862e9c;
}
